.clearMargin{
  margin: 0;
}
#mobile-demo{
  z-index: 3;
}
.row .col{
  padding: 0;
}
.nav-wrapper {
  background-color: #FF5733;
}
.btn, .btn-large{
  background-color: #FF5733;
}
.btn:hover, .btn-large:hover {
  background-color: #fd6c4d;
}
.btn:focus, .btn-large:focus,
.btn-floating:focus {
  background-color: #c54327;
}
input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #FF5733;
  -webkit-box-shadow: 0 1px 0 0 #FF5733;
          box-shadow: 0 1px 0 0 #FF5733;
}

input:not([type]):focus:not([readonly]) + label,
input[type=text]:not(.browser-default):focus:not([readonly]) + label,
input[type=password]:not(.browser-default):focus:not([readonly]) + label,
input[type=email]:not(.browser-default):focus:not([readonly]) + label,
input[type=url]:not(.browser-default):focus:not([readonly]) + label,
input[type=time]:not(.browser-default):focus:not([readonly]) + label,
input[type=date]:not(.browser-default):focus:not([readonly]) + label,
input[type=datetime]:not(.browser-default):focus:not([readonly]) + label,
input[type=datetime-local]:not(.browser-default):focus:not([readonly]) + label,
input[type=tel]:not(.browser-default):focus:not([readonly]) + label,
input[type=number]:not(.browser-default):focus:not([readonly]) + label,
input[type=search]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #FF5733;
}

.navTitle{
  font-family: 'Kalam', cursive;
}
.sectionOneBG{
  background:  linear-gradient(to bottom right, rgba(0, 0, 0, 0)40%, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 1)), url(../images/bgOne.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}
.sectionOneBG h2{
  font-family: 'Heebo', sans-serif;
  font-weight: 800;
  font-size: 5em;
  margin: 0;
  line-height: 0.6em;
  color: #FFF;
  text-shadow: 3px 3px 3px black;
  text-align: right;
}
.sectionOneBG h4{
  font-family: 'Kalam', cursive;
  margin: 0;
  font-size: 4em;
  line-height: 0.8em;
  color: #FF5733;
  text-shadow: -1px -1px 3px black;
  text-align: right;
}
.smallCall{
  font-family: 'Kalam', cursive;
}
.sectionOneBG p{
  background-color: #191b2d;
  color: white;
  padding: 2em;
  margin-top: -1.3em;
  font-size: 1.5em;
}
.sectionOneBG{
  font-family: 'Heebo', sans-serif;
}
.containerTest {
  display: flex; /* or inline-flex */
  align-items: flex-end;
}
.voteOne{
  background-image: url(../images/cont2.jpg);
  height: 80vh;
  background-size: cover;
  background-position: center;
  text-align: center;
}
.voteTwo{
  background-image: url(../images/cont1.jpg);
  height: 80vh;
  background-size: cover;
  background-position: 50% 1%;
  text-align: center;
}
.titleSection{
  padding: 1em;
  background-color: #191b2d;
}
.titleSection h3{
  text-align: center;
  font-family: 'Heebo', sans-serif;
  font-size: 4em;
  color: white;
}
.titleSection span.favEffect{
  font-family: 'Kalam', cursive;
  color: #FF5733;
  text-shadow: 2px 2px 3px black;
  font-size: 1.2em;
}
/* Chat design */
.miniImg{
  width: 40px;
  height: 40px;
  background-color: pink;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  margin: 0.5em;
}
#map {
  width: 100%;
  height: 80vh;
}
.colContainer {
    display: table;
    width: 100%;
}
.colTable {
    display: table-cell;
    padding: 16px;
}
.premieres{
  background-color: pink;
}
.userChatInfo{
  display: inline-block;
  vertical-align: top;
  width: 80%;
  text-align: left;
}
.nameStyle{
  font-family: 'Heebo', sans-serif;
  font-weight: 800;
  font-size: 1.3em;
  margin: 0;
}
.messageStyle{
  font-family: 'Heebo', sans-serif;
  font-size: 1em;
  margin: 0;
}
.chatContainer{
  padding-bottom: 4em;
}
#chatSection{
  height: 200px;
  background-image: url(../images/chat-panel-bg.png);
  background-color: #0001;
  overflow-y: auto;
  padding: 1em 2em;
  box-sizing: border-box;
  margin-top: 5em;
}
#chatUL li{
  margin-bottom: 1em;.
  text-align: center;
}
.chatTextBox{
  width: 100%;
  word-wrap: break-word;
}
.effectContainer{
  overflow: hidden;
}
.movie h4{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}
.movie{
  text-align: center;
}
.bgVoteSelector{
  background-position: center;
  background-size: cover;
  height: 20vh;
}
.imageSearch{
  height: 20em;
  background-color: red;
  opacity: 0.8;
  background-position: center;
  transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
}
.imageSearch:active{
  opacity: 1;
}
.imageSearch:hover {
  transform: scale(1.5);
  -moz-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -o-transform: scale(1.5);
  -ms-transform: scale(1.5); /* IE 9 */
} 
.text{
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   line-height: 16px;     /* fallback */
   max-height: 100px;      /* fallback */
   -webkit-line-clamp: 5; /* number of lines to show */
   -webkit-box-orient: vertical;
   padding: 0 1em;
}
.navbar-fixed { 
  z-index: 9998;
}
.overAll { 
  z-index: 9998;
}
.voteOneHover{
  margin-top: 5em;
}
.voteTwoHover{
  margin-top: 5em;
}
#vote{
  width: 150px;
  height: 150px;
}
#vote2{
  width: 150px;
  height: 150px;
}
input#contar{
    color: #FFF;
    font-family: 'Heebo', sans-serif;
    font-weight: 800;
    text-align: center;
    font-size: 2em;
    border: none;
    text-shadow: 2px 2px 2px #000;
}
input#contar2{
    color: #FFF;
    font-family: 'Heebo', sans-serif;
    font-weight: 800;
    text-align: center;
    font-size: 2em;
    border: none;
    text-shadow: 2px 2px 2px #000;
}
.fa.fa-star{
  font-size: 5em;
  line-height: 1.5em;
}
/* Footer */
footer{
  background-color: #191b2d;
  text-align: center;
  padding: 5em;
  color: #FFF;
}
footer p{
  font-weight: lighter;
}
footer h4{
  font-family: 'Heebo', sans-serif;
  font-weight: 800;
  margin: 0.5em;
  font-size: 2.2em;
  line-height: 0.8em;
  text-shadow: 2px 2px 5px black;
}
footer h4.direction{
  font-size: 1.8em;
  text-decoration: underline;
  text-decoration-color: #FF5733;
}
.social{
  overflow: hidden;
  margin: 2em 0 5em; ;
  padding: 0;
}
.social li{
  list-style: none;
  display: inline-block;
  margin-right:4px;
}
.social li a{
  list-style: none;
  display: inline-block;
  width: 50px;
  height: 50px;
  font-size: 1.2em;
  line-height: 2.75em;
  border-radius: 50%;
  border:2px solid #FFF;
  color: #FFF;
  transition: all ease .6s;
}
.social li a:hover{
  color:#FF5733;
  background: #FFF;
}
.containerFlex {
  display: flex;
  align-items: center;
  justify-content: center;
}